.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 24px;
    gap: 36px;
  }
}

@media (width >= 800px) {

    .projectsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;

        img {
            width: 150px;
        }

        p {
            inline-size: 320px;
            text-align: center;
        }

    }
}